@page "/"
@inject AuthService Auth
@inject NavigationManager Nav
@rendermode InteractiveServer
@inject HttpClientService clientService
@inject ProtectedSessionStorage Session

<div>
    <h3>Register/Login</h3>
    <span>Are you new user? </span><input type="checkbox" @bind="isNew"/>
    <input @bind="username" placeholder="Username" />
    <input @bind="password" type="password" placeholder="Password" />
    @if (isNew)
    {
        <button @onclick="HandleRegister">Register</button>
    }
    else
    {
        <button @onclick="HandleLogin">Login</button>
    }
</div>


@code {
    string username = "", password = "";
    bool isNew = false;

    async void HandleLogin()
    {
        HttpClientService.LoginResponse token = await clientService.GetToken(username, password);
        if (!String.IsNullOrEmpty(token.Token))
        {
            await Session.SetAsync("authToken", token.Token); // store token in session
            await Session.SetAsync("authUsername", token.Username);
        }
    }

    void HandleRegister()
    {
        // if (await Auth.LoginAsync(username, password))
        //     Nav.NavigateTo("/dashboard");
        // else
        //     Console.WriteLine("Login failed");
    }
}
